.gallery {
	display: flex;
	justify-content: center;
	align-items: center;
}

.card-container {
	background: #262936;
	width: 12%;
	text-align: center;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
	flex: 0.2;
	transition: 0.5s ease;
	height: 40vh;
}

.card-container.active {
	flex: 0.3;
}

.card-container:first-child {
	background-color: #323544;
	border-radius: 10px 0 0 10px;
	overflow: hidden;
}

.card-container:nth-child(3) {
	background-color: #323544;
}

.card-container:last-child {
	background-color: #323544;
	border-radius: 0 10px 10px 0;
	overflow: hidden;
}

.day {
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 1.7rem;
	font-weight: 700;
	color: aliceblue;
	font-family: "Playfair Display", serif;
	letter-spacing: 1px;
	width: 100%;
	padding: 0.5rem;
	background-color: #222531;
	height: 5vh;
}

.image-container {
	display: flex;
	align-items: center;
	justify-content: center;
}

.card-container.active .image-container {
	width: 50%;
}

.card-container.active .current-weather {
	width: 50%;
}

.weather-image {
	width: 80%;
}

.current-weather {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.current-degree {
	font-size: 4rem;
	font-weight: 800;
	color: aliceblue;
	display: none;
}

.current-status {
	display: none;
	font-size: 1.3rem;
	font-weight: 700;
	font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
	color: aliceblue;
}

.card-container.active .current-degree {
	display: block;
}

.card-container.active .current-status {
	display: inline;
}

.city {
	display: none;
}

.card-container.active .city {
	display: flex;
	justify-content: center;
	width: 100%;
	margin: 0.5rem 0 0;
	font-size: 2.2rem;
	font-weight: 700;
	color: aliceblue;
	font-family: "Playfair Display", serif;
}

.card-container.active .weather-details {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 80%;
	font-weight: 600;
	color: aliceblue;
	font-size: 1rem;
}

.card-container.active .weather-details .col {
	display: flex;
	align-items: center;
	justify-content: center;
}

.card-container.active .weather-details .col {
	width: 100%;
}

.card-container.active .weather-details img {
	width: 50%;
}

.weather-details {
	display: none;
}

/* Media Queries */
@media screen and (min-width: 800px) and (max-width: 1024px) {
	.day {
		font-size: 1.2rem !important; /* Added !important */
	}

	.card-container {
		height: 35vh;
	}

	.current-degree {
		font-size: 3rem;
		font-weight: 800;
		color: aliceblue;
		display: none;
	}

	.weather-details {
		width: 60%;
		font-size: 0.7rem !important;
	}
}

@media screen and (max-width: 800px) {
	.gallery {
		width: 90%;
		display: grid;
		grid-template-columns: auto auto;
		grid-template-rows: auto auto auto;
		gap: 10px;
	}

	.card-container {
		width: 100%;
		max-width: 90%;
		flex: none;
		overflow: hidden;
		height: 30vh;
	}

	.card-container.active {
		flex: none;
	}

	.card-container:first-child {
		background-color: #323544;
		grid-column: 1 / 2;
		grid-row: 1 / 2;
	}

	.card-container:nth-child(2) {
		grid-column: 1 / 2;
		grid-row: 2 / 3;
	}

	.card-container:nth-child(3) {
		grid-column: 2 / 3;
		grid-row: 2 / 3;
		background-color: #323544;
	}

	.card-container:nth-child(4) {
		grid-column: 1 / 2;
		grid-row: 3 / 4;
	}

	.card-container:last-child {
		grid-column: 2 / 3;
		grid-row: 3 / 4;
		background-color: #323544;
	}

	.city {
		font-size: 2rem !important;
	}

	.current-degree {
		font-size: 2rem;
		font-weight: 800;
		color: aliceblue;
		display: none;
	}

	.weather-details {
		width: 30%;
		font-size: 0.5rem;
	}
	.card-container.active .weather-details img {
		width: 30%;
	}
}

@media screen and (max-width: 556px) {
	.card-container {
		width: 100%;
		max-width: 90%;
		flex: none;
		overflow: hidden;
	}

	.day {
		font-size: 1rem;
	}

	.city {
		font-size: 1.9rem !important;
	}

	.current-degree {
		font-size: 1.3rem;
		font-weight: 800;
		color: aliceblue;
		display: none;
	}

	.weather-details {
		width: 30%;
		font-size: 0.7rem !important;
	}
}

@media screen and (max-width: 400px) {
	.city {
		font-size: 1.4rem !important;
	}

	.current-degree {
		font-size: 1.2rem;
		font-weight: 800;
		color: aliceblue;
		display: none;
	}

	.current-status {
		font-size: 1rem;
	}

	.weather-details {
		width: 30%;
		font-size: 0.5rem;
	}
}
